body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;

    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, #1c92d2, #f2fcfe);
}
.header {
      background-color: white;
      padding: 5px;
      text-align: center;
      color: #fff;

    }

    .logo img {
      max-width: 100%;
      height: auto;
    }
    /*
form {
    width: 100%;
    max-width: 600px;
    padding: 30px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.15);
}

label {
    font-weight: bold;
    display: block;
    margin: 15px 0 5px 0;
}

input[type=text],
input[type=number],
input[type=date],
textarea {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-bottom: 20px;
    font-size: 16px;
    font-family: Arial, sans-serif;
}

input[type=submit] {
    width: 100%;
    background-color: #1c92d2;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
}

input[type=submit]:hover {
    background-color: #1488cc;
    transition: background-color 0.3s ease;
}*/