form {
background-color: white;
padding: 20px;
border-radius: 8px;
box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
align:center;
}

form h2 {
color: #1c92d2;
text-align: center;
margin-bottom: 20px;
}
footer{    background-color: #797a7d;
               color: white;
               padding: 20px;
    }
/*
form input[type="file"] {
margin-bottom: 20px;
}

form input[type="submit"] {
background-color: #1c92d2;
color: white;
padding: 10px 20px;
border: none;
border-radius: 4px;
cursor: pointer;
text-transform: uppercase;
}
   input[type=file] {
    width: 90%;
    margin-bottom: 10px;
}

table {
    width: 100%;
    max-width: 600px;
    margin: 30px auto;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 15px;
    text-align: left;
}

th {
    background-color: #1c92d2;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}*/
