<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


    <style>
           input[type=file] {
            width: 90%;
            margin-bottom: 10px;
        }

        table {
            width: 100%;
            max-width: 600px;
            margin: 30px auto;
            border-collapse: collapse;
        }

        table, th, td {
            border: 1px solid #ccc;
        }

        th, td {
            padding: 15px;
            text-align: left;
        }

        th {
            background-color: #1c92d2;
            color: white;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
        </style>
</head>
<body>
    <form action="#" th:action="@{/import}" method="post" enctype="multipart/form-data">
        <input type="file" name="file" />
        <input type="submit" value="Import" />
    </form>
    <table>

        <thead>
        <tr>
            <th><input type="text" id="filter-id" placeholder="Filter by ID"></th>
            <th><input type="text" id="filter-codigo" placeholder="Filter by Code"></th>
            <th><input type="text" id="filter-nombre" placeholder="Filter by Code"></th>
            <th><input type="text" id="filter-numero-comprobante" placeholder="Filter by Code"></th>
            <th><input type="text" id="filter-resumen" placeholder="Filter by Code"></th>
            <th><input type="text" id="filter-monto" placeholder="Filter by Code"></th>
            <th><input type="text" id="filter-fecha-conclusion" placeholder="Filter by Code"></th>
            <th><input type="text" id="filter-vinculo" placeholder="Filter by Code"></th>
        </tr>
        <tr>
            <th>ID</th>
            <th>Código</th>
            <th>Nombre</th>
            <th>Número de Comprobante</th>
            <th>Resumen</th>
            <th>Monto</th>
            <th>Fecha de Conclusión</th>
            <th>Vínculo de Documento Digital</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="tramite : ${tramites}">
            <td th:text="${tramite.id}"></td>
            <td th:text="${tramite.codigo}"></td>
            <td th:text="${tramite.nombre}"></td>
            <td th:text="${tramite.numeroComprobante}"></td>
            <td th:text="${tramite.resumen}"></td>
            <td th:text="${tramite.monto}"></td>
            <td th:text="${tramite.fechaConclusion}"></td>
            <td><a th:href="${tramite.vinculoDocumentoDigital}" th:text="${tramite.vinculoDocumentoDigital}"></a></td>
        </tr>
        </tbody>
    </table>
</body>
<script>
$(document).ready(function() {

    $("input[id^='filter-']").on('input', function() {

        var id = $("#filter-id").val();
        var codigo = $("#filter-codigo").val();
        var nombre = $("#filter-nombre").val();
        var numero_comprobante = $("#filter-numero-comprobante").val();
        var resumen = $("#filter-resumen").val();
        var monto = $("#filter-monto").val();
        var fecha_conclusion = $("#filter-fecha-conclusion").val();
        var vinculo = $("#filter-vinculo").val();

        $.get("/filter/tramite", { id: id, codigo: codigo ,nombre: nombre, numero_comprobante:numero_comprobante,resumen:resumen ,monto:monto,fecha_conclusion:fecha_conclusion,vinculo:vinculo}, function(data) {
            // Actualiza la tabla con los datos devueltos
            // Debes personalizar este código dependiendo de la estructura de los datos devueltos
            $("tbody").empty();
            data.forEach(function(tramite) {
                var row = "<tr>" +
                    "<td>" + tramite.id + "</td>" +
                    "<td>" + tramite.codigo + "</td>" +
                    "<td>" + tramite.nombre + "</td>" +
                    "<td>" + tramite.numeroComprobante + "</td>" +
                    "<td>" + tramite.resumen + "</td>" +
                    "<td>" + tramite.monto + "</td>" +
                    "<td>" + tramite.fechaConclusion + "</td>" +
                    "<td>" + tramite.vinculoDocumentoDigital + "</td>" +

                    "</tr>";
                $("tbody").append(row);
            });
        });
    });
});
</script>
</html>

