<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Formulario de Trámite</title>
  <link rel="stylesheet" th:href="@{/css/formulario.css}">
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">

</head>
<body>
<header class="header">
  <div class="container-fluid">
    <div class="row justify-content-center align-items-center position-relative">
      <div class="col-md-4">
        <div class="logo">
          <img th:src="@{/images/images.jpg}" alt="Logo del sistema">
        </div>
      </div>
      <div class="col-md-8 align-right">
        <a th:href="@{/logout}" class="btn btn-primary float-end">Salir</a>

      </div>
    </div>
  </div>
</header>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <form action="#" th:action="@{/tramite/form}" th:object="${tramite}" method="post" class="p-4 border rounded bg-light">
        <h2 class="text-center text-primary mb-4">REGISTRO DE DIGITALIZACIÓN</h2>

        <div class="mb-3">
          <label for="codigo" class="form-label">Código:</label>
          <input type="text" id="codigo" class="form-control" th:field="*{codigo}">
          <span style="color: red;" th:if="${#fields.hasErrors('codigo')}" th:errors="*{codigo}">Error de codigo</span>
        </div>

        <div class="mb-3">
          <label for="nombre" class="form-label">Nombre:</label>
          <input type="text" id="nombre" class="form-control" th:field="*{nombre}">
          <span style="color: red;" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}">Error de nombre</span>
        </div>

        <div class="mb-3">
          <label for="comprobante" class="form-label">Número de Comprobante:</label>
          <input type="text" id="comprobante" class="form-control" th:field="*{numeroComprobante}">
          <span style="color: red;" th:if="${#fields.hasErrors('numeroComprobante')}" th:errors="*{numeroComprobante}">Error de comprobante</span>
        </div>

        <div class="mb-3">
          <label for="resumen" class="form-label">Resumen:</label>
          <textarea id="resumen" class="form-control" th:field="*{resumen}"></textarea>
          <span style="color: red;" th:if="${#fields.hasErrors('resumen')}" th:errors="*{resumen}">Error de resumen</span>
        </div>

        <div class="mb-3">
          <label for="monto" class="form-label">Monto:</label>
          <input type="number" id="monto" class="form-control" th:field="*{monto}">
          <span style="color: red;" th:if="${#fields.hasErrors('monto')}" th:errors="*{monto}">Error de monto</span>
        </div>

        <div class="mb-3">
          <label for="fechaConclusion" class="form-label">Fecha de Conclusión del Trámite:</label>
          <input type="date" id="fechaConclusion" class="form-control" th:field="*{fechaConclusion}">
          <span style="color: red;" th:if="${#fields.hasErrors('fechaConclusion')}" th:errors="*{fechaConclusion}">Error de Fecha Conclusion</span>
        </div>

        <div class="mb-3">
          <label for="documentoDigital" class="form-label">Vínculo al Documento Digital:</label>
          <input type="text" id="documentoDigital" class="form-control" th:field="*{vinculoDocumentoDigital}">
          <span style="color: red;" th:if="${#fields.hasErrors('vinculoDocumentoDigital')}" th:errors="*{vinculoDocumentoDigital}">Error de Documento Digital</span>
        </div>

        <input type="submit" value="Enviar" class="btn btn-primary">
      </form>
    </div>
  </div>
</div>


<footer class="bg-primary text-light text-center py-3">
  <div class="container">
    <span>&copy; 2023. Todos los derechos reservados.</span>
  </div>
</footer>
</body>
</html>
