<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Filtro de Trámite</title>
    <link rel="stylesheet" th:href="@{/css/form_filter.css}">
  </head>
  <body>
  <a th:href="@{/logout}">Logout</a>
    <form action="#" th:action="@{/tramite/filter}" th:object="${tramite}" method="post">
      <h2 style="text-align: center; color: #1c92d2;">FILTRO</h2>

      <label for="codigo">Código:</label><br>
      <input type="text" id="codigo" th:field="*{codigo}"><br>

      <label for="nombre">Nombre:</label><br>
      <input type="text" id="nombre" th:field="*{nombre}"><br>

      <label for="comprobante">Número de Comprobante:</label><br>
      <input type="text" id="comprobante" th:field="*{numeroComprobante}"><br>

      <label for="resumen">Resumen:</label><br>
      <textarea id="resumen" th:field="*{resumen}"></textarea><br>

      <label for="monto">Monto:</label><br>
      <input type="number" id="monto" th:field="*{monto}"><br>

      <label for="fechaConclusion">Fecha de Conclusión del Trámite:</label><br>
      <input type="date" id="fechaConclusion" th:field="*{fechaConclusion}"><br>

      <label for="documentoDigital">Vínculo al Documento Digital:</label><br>
      <input type="text" id="documentoDigital" th:field="*{vinculoDocumentoDigital}"><br>

      <input type="submit" value="Enviar">
    </form>
  </body>
</html>
