<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Iniciar Sesión</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <style>
        .form-control {
            height: 50px;
        }
        .card {
            padding: 20px;
            margin-top: 15%;
        }
        footer{    background-color: #797a7d;
               color: white;
               padding: 20px;
    }
    </style>
</head>
<body style="background: linear-gradient(to right, #1c92d2, #f2fcfe);">
<div class="container" >
    <div class="row justify-content-center">
        <div class="col-md-4">
            <h1 class="text-center mt-5 pb-2">Sistema de Archivo: Formulario C-31</h1>

            <!-- Mensaje de error -->
            <div style="margin-bottom:0" th:if="${param.error}" class="alert alert-danger mb-0" role="alert">
                Hubo un error con tu inicio de sesión. Por favor, intenta nuevamente.
            </div>

            <div class="card mt-2">
                <div class="card-body">
                    <form action="/authenticate" method="post">
                        <div class="form-group">
                            <label for="username">Nombre de usuario</label>
                            <input type="text" class="form-control" id="username" name="username" required>
                        </div>
                        <div class="form-group">
                            <label for="password">Contraseña</label>
                            <input type="password" class="form-control" id="password" name="password" required>
                        </div>
                        <button type="submit" class="mx-auto col-md-8 d-grid btn btn-primary mt-4">Iniciar Sesión</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<footer >
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h5>Archivo Central Ministerio de Economia y Finanzas Publicas</h5>
                <ul class="list-unstyled">
                    <li>Dirección: Calle Bolívar, Edificio Bolívar N°688</li>
                    <li>Esquina Bozo Edificio Ex AADAA (Plaza Alonzo de Mendoza)</li>
                    <li>Teléfono: (591-2) 218333 - Internos: 4051-4055-4091-4092</li>
                    <li>Email: fernando.chuquimia@economiayfinanzas.gob.bo</li>
                </ul>
            </div>

        </div>
        <hr>
        <p class="text-center">© 2023 Todos los derechos reservados</p>
    </div>
</footer>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script></body>
</html>
