<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Filtro</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/tramites.css}">
</head>
<body>
<div >
    <h2>BUSQUEDA DE TRAMITES</h2>
    <a th:if="${user != 'guest'}" th:href="@{/logout}">Logout</a>
</div>
<form th:if="${user != 'guest'}" action="#" th:action="@{/tramite/import}" method="post" enctype="multipart/form-data">
    <h2>SUBIR TRAMITES</h2>
    <input type="file" name="file" />
    <input type="submit" value="Importar" />
</form>
<a th:href="@{/tramite/filter/form}">Filtro</a>
<table>
    <thead>
    <tr>
        <th><input type="text" id="filter-id" placeholder="ID"></th>
        <th><input type="text" id="filter-codigo" placeholder="CODIGO"></th>
        <th><input type="text" id="filter-nombre" placeholder="NOMBRE"></th>
        <th><input type="text" id="filter-numero-comprobante" placeholder="NRO COMPROBANTE"></th>
        <th><input type="text" id="filter-resumen" placeholder="RESUMEN"></th>
        <th><input type="text" id="filter-monto" placeholder="MONTO"></th>
        <th></th>
        <th></th>
    </tr>
    <tr>
        <th>ID</th>
        <th>Código</th>
        <th>Nombre</th>
        <th>Número de Comprobante</th>
        <th>Resumen</th>
        <th>Monto</th>
        <th>Fecha de Conclusión</th>
        <th>Vínculo de Documento Digital</th>
    </tr>
    </thead>
    <tbody>
        <tr></tr>
        <tr th:each="tramite : ${tramites}">
            <td th:text="${tramite.id}"></td>
            <td th:text="${tramite.codigo}"></td>
            <td th:text="${tramite.nombre}"></td>
            <td th:text="${tramite.numeroComprobante}"></td>
            <td th:text="${tramite.resumen}"></td>
            <td th:text="${tramite.monto}"></td>
            <td th:text="${tramite.fechaConclusion}"></td>
            <td><a th:href="${tramite.vinculoDocumentoDigital}" th:text="${tramite.vinculoDocumentoDigital}"></a></td>
        </tr>
    </tbody>
</table>
</body>
<script th:src="@{/js/tramites.js}"></script>
</html>

